<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAq9opBtu74YGR-0__YJK7kjfYBz8f2mwA</string>
	<key>GCM_SENDER_ID</key>
	<string>275490510165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hpic.recardify.recardify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>recardify-7ea11</string>
	<key>STORAGE_BUCKET</key>
	<string>recardify-7ea11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275490510165:ios:4a93430d6a26db9bfa8bdc</string>
</dict>
</plist>